/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles */
@import 'partials/variables';
@import 'partials/reset';

html, body {
    margin: 0;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
