// bower:scss
// Bower Sass dependencies will be imported here after Gulp `styles` task.
// endbower

body,h1,h2,h3,h4,h5,h6,p { margin: 0; }

body {
    font: 500 16px/150% Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}

.app-header {
    padding: 30px;
    background: #00111B;
    color: #FFF;
}

// inject
// Input styles will be imported here after Gulp `styles` task.
// endinject
