home {
    position: relative;
    display: block;
    padding: 30px;
    background: #F4F4F4;
    border: 2px solid #CCC;
    border-top: 0;
    color: #323232;

    .lang-switcher {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    h1, h2 {
        margin-bottom: .5em;
    }
}
